build node_modules src/deprecated

.docusaurus sidebar.js docusaurus.config.js \*.config.js

# swizzled components

src/theme/SchemaItem/index.js src/theme/CodeBlock/\*\* DocSidebarItem

#test files

_.test.tsx _.test.ts

_.test.js _.test.jsx \*.bundle.js

**mocks**

jest.setup.ts
