{
  "printWidth": 100,
  "jsxBracketSameLine": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "vale/**/*.{yml,txt}",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
