.docusaurus
build
node_modules
Dockerfile
src/deprecated
vale/
**/*.yaml
**/*.yml
**/*.mdx
.dockerignore
static/scripts/kapa-widget.bundle.js

docs/api-content/**/*.json
static/apis/**/*.json

# Troublesome files
tsconfig.json
src/components/IconMapper/dynamicFontAwesomeImports.*
static/generated/security-bulletins/cve-reports.md
static/generated/security-bulletins/reports/*.html
.eslintignore
.prettierrc

# Ignore partials
_partials/
scripts/release/
