# Docs & Tutorials
content/ @docs-education
# Images
assets/docs/images/ @docs-education
# Writing Checks
vale/  @docs-education
# CI/CD Related
.github/ @docs-education


# Catch All Rule
* @docs-education