.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 5px;
  max-width: 52px;
  max-height: 52px;
  align-self: center;
  svg {
    width: 52px;
    height: 52px;
  }
}
