.wrapper {
  padding: 15px 0;
  .technologyWrapper {
    margin-top: 32px;
    svg {
      vertical-align: bottom;
      margin-right: 5px;
    }
  }
  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 100%;
    margin: 5px 0 5px;
  }
  .card {
    width: 120px;
    height: 120px;
    margin-right: 32px;
    margin-bottom: 32px;
    background: var(--ifm-background-color);
    border: 1px solid var(--ifm-toc-border-color);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow:
      0px 0px 2px rgba(0, 0, 0, 0.2),
      0px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }

  .title {
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: var(--ifm-font-color-base);
    text-align: center;
    word-break: break-word;
  }
  .ant-collapse {
    width: 100%;
    border: 0 none;
    background: white;
  }
}
.ant-collapse {
  width: 100%;
  border: 0 none;
  background: white;
}
