.ant-collapse {
  width: 100%;
  border: 0 none;
  background: white;
  html[data-theme="dark"] & {
    color: white;
    background-color: #1c202b;
  }
}
.ant-collapse-content-box {
  display: flex;
  flex-wrap: wrap;
}
.ant-select {
  width: 200px
}
