.ant-list-header {
  padding-bottom: 0px;
  font-size: 16px;
  font-weight: bold;
}
p {
  font-size: 16px;
}
[data-theme="dark"] .ant-select-tree-list-holder-inner {
  background-color: #012121;
  color: var(--ifm-font-color-base);
}
