.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .tabPane {
    padding-top: 15px;
    font-size: 16px;
    width: 100%;
  }

  .customReadme {
    h2[id="versions-supported"] {
      display: none;
      + div > ul {
        display: none;
      }
    }
  }

  .warningSection {
    margin-top: 1em;
  }

  .emptyContent {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .emptyContentTitle {
      padding-top: 15px;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
    }

    .emptyContentDescription {
      font-size: 16px;
      color: #545f7e;
      font-weight: 400;
      line-height: 24px;
      margin-top: 10px;
    }
  }

  .description {
    display: flex;
    width: 100%;
    padding: 10px;

    .packDescFirstCol {
      display: flex;
      flex-direction: column;
      width: 70%;

      .packName {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
      }

      .descriptionContent {
        display: flex;
        height: 100%;
        font-size: 14px;
        font-weight: 400;
        align-items: center;

        .packIcon {
          height: 100%;
        }

        .customDesc {
          padding-top: 12px;
          padding-left: 16px;
          width: 85%;
        }
      }
    }

    .packDescSecondCol {
      display: flex;
      flex-direction: column;
      width: 30%;
      padding: 10px;

      .versionSelect {
        height: max-content;
        display: flex;
        flex-direction: row;
        padding: 10px;
      }

      .versionSelectBox {
        width: 300px;
      }

      .packDesc {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;

        .packDescItem {
          padding-top: 8px;
          padding-left: 5px;
        }
      }
    }
    @media (max-width: 768px) {
      .packDescFirstCol {
        width: 100%;
        padding-bottom: 12px;
      }
      .packDescSecondCol {
        width: 100%;
        .versionSelectBox {
          width: 200px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
[data-theme="dark"] .description {
  background-color: #012121;
}
[data-theme="light"] .description {
  background-color: #bfe3e2;
}
[data-theme="dark"] .packDescSecondCol {
  background-color: #161514;
  border: 1px solid var(--ifm-primary-color);
}
[data-theme="light"] .packDescSecondCol {
  background-color: #f3f0ee;
  border: 1px solid #dee1ea;
}
[data-theme="light"] .emptyContentDescription {
  color: #545f7e;
}
[data-theme="dark"] .emptyContentDescription {
  color: #b5bdd4;
  background-color: var(--ifm-background-color);
}
[data-theme="dark"] .emptyContentTitle {
  color: #b5bdd4;
  background-color: var(--ifm-background-color);
}
[data-theme="light"] .emptyContentTitle {
  color: #545f7e;
}
[data-theme="light"] .content {
  color: #545f7e;
}
[data-theme="dark"] .content {
  color: #b5bdd4;
}
[data-theme="dark"] .versionSelect {
  border: 1px solid #1f263c;
}
[data-theme="light"] .versionSelect {
  border: 1px solid #b6bed4;
}
