.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .tabPane {
    padding-top: 15px;
    font-size: 16px;
    width: 100%;
  }
  .customReadme {
    h2[id="versions-supported"] {
      display: none;
      + div {
        display: none;
      }
    }
  }
  .infoSection {
    border: 1px solid #3f74be;
    background-color: #dbecff;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    margin: 15px;
    width: 100%;
    html[data-theme="dark"] & {
      border: 1px solid #72a8f5;
      background-color: #192c47;
    }
    .infoHeading {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 600;
      color: #000000;
      text-transform: uppercase;
      padding-bottom: 10px;
      html[data-theme="dark"] & {
        color: #ffffff;
      }
      .infoIcon {
        color: #3f74be;
        padding-right: 10px;
        font-size: 16px;
        html[data-theme="dark"] & {
          color: #72a8f5;
        }
      }
    }
    .content {
      color: #545f7e;
      html[data-theme="dark"] & {
        color: #b5bdd4;
      }
    }
  }

  .emptyContent {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .emptyContentTitle {
      padding-top: 15px;
      font-size: 20px;
      color: #545f7e;
      font-weight: 500;
      line-height: 24px;

      html[data-theme="dark"] & {
        color: #b5bdd4;
        background-color: #111726;
      }
    }

    .emptyContentDescription {
      font-size: 16px;
      color: #545f7e;
      font-weight: 400;
      line-height: 24px;

      html[data-theme="dark"] & {
        color: #b5bdd4;
        background-color: #111726;
      }

      margin-top: 10px;
    }
  }

  .description {
    display: flex;
    width: 100%;
    background-color: #edeef4;

    html[data-theme="dark"] & {
      background-color: #1c202b;
    }

    padding: 10px;

    .packDescFirstCol {
      display: flex;
      flex-direction: column;
      width: 70%;

      .packName {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
      }

      .descriptionContent {
        display: flex;
        height: 100%;
        font-size: 14px;
        font-weight: 400;

        .packIcon {
          height: 100%;
        }

        .customDesc {
          padding-top: 12px;
          padding-left: 16px;
        }
      }
    }

    .packDescSecondCol {
      display: flex;
      flex-direction: column;
      width: 30%;
      padding: 10px;
      background-color: white;
      border: 1px solid #dee1ea;

      html[data-theme="dark"] & {
        background-color: black;
        border: 1px solid #1f263c;
      }

      .versionSelect {
        height: max-content;
        display: flex;
        flex-direction: row;
        padding: 10px;
        border: 1px solid #b6bed4;

        html[data-theme="dark"] & {
          border: 1px solid #1f263c;
        }
      }

      .versionSelectBox {
        width: 300px;
      }

      .packDesc {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;

        .packDescItem {
          padding-top: 8px;
          padding-left: 5px;
        }
      }
    }
  }
}
