.ant-space-compact-block {
  flex-direction: row-reverse;
}
.ant-btn-compact-item {
  background-color: #d9d9d9;
}
.ant-btn {
  background-color: #d9d9d9;
}
.ant-menu-horizontal {
  background-color: #d9d9d9;
  line-height: 32px;
}
