.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
  .selectorCard {
    padding: 4px 12px;
    background: var(--ifm-breadcrumb-item-background-active);
    border: 1px solid var(--ifm-breadcrumb-item-background-active);
    border-radius: 13px;
    margin: 0 10px 10px 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--ifm-font-color-base);
    cursor: pointer;
    &.isSelected {
      background: var(--ifm-color-primary);
      border: 1px solid var(--ifm-color-primary);
      color: #ffffff;
      transition: all 0.3s;
    }
  }
}
