.customLabel {
  font-size: 14px;
  height: 32px;
  align-self: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--ifm-font-color-base);
  background-color: var(--ifm-dropdown-background-color);
}
