.customLabel {
  font-size: 14px;
  height: 32px;
  align-self: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
[data-theme="dark"] .customLabel {
  color: white;
  background-color: #1c202b;
}

[data-theme="light"] .customLabel {
  color: black;
  background-color: #dee1ea;
}
