[data-theme="dark"] .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #424242;
  background: #141414;
}
[data-theme="dark"] .ant-select-selection-placeholder {
  color: #f3f0ee;
}
[data-theme="dark"] .ant-select-arrow {
  color: #f3f0ee;
}
[data-theme="dark"] .ant-select-item-option {
  color: var(--ifm-font-color-base);
}
[data-theme="dark"] .rc-virtual-list {
  background-color: var(--ifm-dropdown-background-color);
}
[data-theme="dark"] .ant-select-dropdown {
  background-color: var(--ifm-dropdown-background-color);
}
[data-theme="dark"] .ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--ifm-dropdown-background-color);
  color: var(--ifm-font-color-base);
}
[data-theme="dark"]
  .ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .ant-select-item-option-state {
  color: var(--ifm-color-primary);
}
[data-theme="dark"] .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: var(--ifm-dropdown-background-color);
}
[data-theme="dark"] .ant-select-multiple {
  .ant-select-selection-item {
    color: var(--ifm-font-color-base);
    background-color: #1e3332;
  }
  .ant-select-selection-overflow .ant-select-selection-item-remove {
    color: var(--ifm-font-color-base);
  }
}
[dark-theme="dark"] .ant-select-multiple .ant-select-selection-overflow .ant-select-selection-item-remove {
  color: var(--ifm-font-color-base);
}
[data-theme="dark"] .ant-select-clear {
  color: var(--ifm-font-color-base);
  background-color: var(--ifm-dropdown-background-color);
}
[data-theme="dark"] .ant-select-single .ant-select-selector {
  color: var(--ifm-font-color-base);
  background-color: var(--ifm-dropdown-background-color);
}
