html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
  font-family: Poppins;
  font-size: 16px;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

button {
  font-family: Poppins;
}

.paragraph img {
  max-width: 100%;
}

.paragraph {
  font-weight: normal;
  line-height: 28px;
  color: #666a80;
  margin-bottom: 0;
}

.paragraph + .paragraph {
  margin-top: 20px;
}

a:hover {
  color: #206cd1;
}

.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cut-textt {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}