.searchWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 48px;
  padding: 0px 23px;
  box-shadow:
    0px 0px 2px rgb(0 0 0 / 20%),
    0px 2px 0px rgb(0 0 0 / 3%);
  border-radius: 4px;
  border: 1px solid var(--ifm-breadcrumb-item-background-active);
  transition: all 0.3s;
  .searchInput {
    width: 100%;
    padding-left: 16px;
    outline: none;
    background: rgba(0, 0, 0, -0.9);
    border-color: rgba(0, 0, 0, -0.9);
    border-right-width: 0px !important;
  }
  .searchInput:focus {
    box-shadow: 0 0 0 0px rgb(0 0 0 / 0%);
  }
  .searchInput::placeholder {
    font-size: 13px;
    color: var(--ifm-font-color-base);
    opacity: 0.5;
  }
  &:focus-within {
    border-color: #40a9ff8c;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 3%);
  }
  &:hover {
    border-color: #40a9ff8c;
    border-right-width: 1px !important;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 3%);
  }
  .searchIcon {
    height: 14px;
    width: 14px;
    color: var(--ifm-font-color-base);
    z-index: 10;
  }
  .clearIcon {
    height: 14px;
    width: 14px;
    color: var(--ifm-font-color-base);
    z-index: 10;
  }
  &:hover {
    cursor: pointer;
  }
}
