html[data-theme="light"] {
  --ifm-menu-color-background-active: #f3f0ee;
  --ifm-color-primary: #1f7a78;
  --ifm-color-primary-dark: #135757;
  --ifm-color-primary-darker: #0c403f;
  --ifm-color-primary-darkest: #0b3433;
  --ifm-color-primary-light: #2d8685;
  --ifm-color-primary-lighter: #3b9a98;
  --ifm-color-primary-lightest: #44b2af;
  --ifm-menu-color: #111626;
  --ifm-background-color: #faf9f8;
  --ifm-menu-color-active: var(--ifm-color-primary);
  --ifm-font-color-base: #161514;
  --ifm-heading-color: var(--ifm-font-color-base);
  --ifm-navbar-link-color: #6a7494;
  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-breadcrumb-item-background-active: var(--ifm-menu-color-background-active);
  --ifm-toc-link-color: var(--ifm-font-color-base);
  --ifm-tabs-color: #6a7494;
  --docsearch-muted-color: #6a7494;
  --ifm-menu-color-background-hover: var(--ifm-menu-color-background-active);
  --ifm-color-success-contrast-background: #e5f4e8;
  --ifm-color-success-contrast-foreground: #545f7e;
  --ifm-color-success-dark: #e5f4e8;
  --ifm-color-info-contrast-background: #edf3fd;
  --ifm-color-info-contrast-foreground: var(--ifm-color-success-contrast-foreground);
  --ifm-color-info-dark: #edf3fd;
  --ifm-color-warning-contrast-background: #fff3e3;
  --ifm-color-warning-contrast-foreground: var(--ifm-color-success-contrast-foreground);
  --ifm-color-warning-dark: #fff3e3;
  --ifm-color-danger-contrast-background: #feeded;
  --ifm-color-danger-contrast-foreground: var(--ifm-color-success-contrast-foreground);
  --ifm-color-danger-dark: #feeded;
  --ifm-alert-padding-horizontal: 1.5rem;
  --ifm-dropdown-background-color: var(--ifm-menu-color-background-active);
  --ifm-card-background-color: var(--ifm-dropdown-background-color);
  --custom-table-header-color: #f7f7f7;
  --simpleCardPrimary: var(--ifm-color-primary);
  --simpleCardPrimaryHover: #135757;
  --simpleCardSecondary: #7fd2d0;
  --simpleCardSecondaryHover: #44b2af;
  --simpleCardSubtle: var(--ifm-color-success-contrast-foreground);
  --simpleCardButtonIcon: #545f7e;
  --simpleCardBorder: #dee1ea;
  --custom-release-notes-background-color: var(--ifm-background-color);
  --custom-release-notes-background-font-color: var(--ifm-navbar-link-color);
  --custom-release-notes-active-option-hover: var(--ifm-dropdown-hover-background-color);
  --custom-release-notes-selected-background: var(--ifm-menu-color-background-hover);
  --custom-release-notes-option-font-color: var(--ifm-font-color-base);
  --custom-release-notes-menu-padding: var(--ifm-background-color);
  --custom-purple-alert-bg-color: #e8e1ea;
  --custom-byzantine-alert-bg-color: #f3d8e6;
  --custom-breaking-changes-background-color: #e8e1ea;

  .theme-doc-sidebar-item-category-level-1 .menu__list-item {
    .menu__link:hover {
      background: var(--ifm-menu-color-background-active);
    }
    .menu__link.menu__link--active {
      color: var(--ifm-color-primary);
      border-radius: 0;
    }
  }

  // We must set the info color on details, as it is used for the details expand marker.
  [class^="details_"] {
    --ifm-color-info-dark: var(--ifm-color-primary);
    border-width: 0px;
  }

  .category > .menu__list-item-collapsible:hover {
    background: var(--ifm-menu-color-background-active);
  }

  .menu__list-item-collapsible:has(.sidebar-category-title):hover {
    background: var(--ifm-background-color) !important;
    cursor: default;
  }

  .sidebar-category-title[class*="active_"] {
    color: var(--ifm-color-primary);
  }

  .menu__list-item-collapsible:hover {
    background: var(--ifm-menu-color-background-active);
  }

  .theme-last-updated {
    color: var(--ifm-font-color-base);
  }

  .navbar {
    border-bottom: 1px solid var(--ifm-breadcrumb-item-background-active);
  }

  // .tabs__item {
  //   border-radius: 2px 2px 0 0;
  //   font-weight: 500;
  //   background-color: #fafafa;
  //   border: 1px solid #f0f0f0;
  //   transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  //   margin-left: 2px;
  // }

  // .tabs__item:hover {
  //   background-color: #fafafa;
  // }
  // .tabs__item--active {
  //   background-color: white;
  //   border-bottom-color: white;
  // }
}
