.privacy-settings {
  display: flex;
  align-items: center;

  .privacy-icon {
    margin-left: 2px;
    margin-right: 18px;
    color: var(--custom-sidebar-item-color);
  }
}

.category {
  color: var(--custom-sidebar-item-color);
  font-size: 14px;
}

.category-icon {
  margin-right: 12px;
  border-bottom: 2px solid white;
}

.category-divider {
  margin-top: 2px;
  margin-bottom: 0;
}
