.simpleCardGrid {
  display: grid;
}

.simpleCardWrapper {
  margin: 8px;
  min-width: 360px;
}

.simpleCard {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  width: 100%;
  background-color: var(--ifm-background-color);
  border: 1px solid var(--ifm-color-primary);
  border-radius: 4px;
  color: var(--ifm-font-color-base);
}

.simpleCard:hover {
  box-shadow: 2px 2px 2px 2px var(--ifm-color-primary);
  cursor: pointer;
}

@media (max-width: 768px) {
  .simpleCardGrid {
    grid-template-columns: 1fr;
  }

  .simpleCardWrapper {
    min-width: 280px;
  }
}
