.simpleCardGrid {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;

  a {
    text-decoration: none;
  }
}

.simpleCard {
  min-width: 360px;
  padding: 12px 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid var(--simpleCardBorder);
  border-radius: 12px;
  color: var(--ifm-font-color-base);
  box-shadow: -10px 10px var(--simpleCardSecondary);
  word-wrap: break-word;
}

.simpleCardDescription {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--simpleCardSubtle);
}

.simpleCardHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.simpleCardHeaderNoGap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.simpleCardFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.simpleCardFooterBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--simpleCardSecondary);
  border-radius: 4px;
  color: var(--ifm-simple-card-footer-btn-font-color);
  font-size: 14px;
  font-weight: var(--ifm-button-font-weight);
  padding: 10px 16px;
  border: none;
  outline: none;
  height: 32px;
  width: 136px;
  cursor: pointer;
}

.simpleCardFooterArrow {
  height: 1em;
  fill: var(--ifm-font-color-base);
}

.simpleCardIndex {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--simpleCardPrimary);
  color: var(--ifm-background-color);
  border-radius: 4px;
}

.simpleCard:hover {
  box-shadow: -10px 10px var(--simpleCardSecondaryHover);
}

.simpleCard:hover .simpleCardFooter button {
  background-color: var(--simpleCardSecondaryHover);
}

.simpleCard:hover .simpleCardIndex {
  background-color: var(--simpleCardPrimaryHover);
}

@media (max-width: 1120px) {
  .simpleCardGrid {
    grid-template-columns: 1fr;
  }

  .simpleCard {
    min-width: 280px;
  }
}
