name: Nighly Docker Build

on:
  push:
    branches-ignore:
      - "main"

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  # We cannot use our production values for nightly Docker builds as that would leak our production secrets.
  ALGOLIA_ADMIN_KEY: "123456789"
  ALGOLIA_APP_ID: "123456789"
  ALGOLIA_SEARCH_KEY: "123456789"

jobs:
  build:
    runs-on: ["self-hosted", "linux", "x64", "vcenter3"]
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "npm"

      - run: npm ci

      - name: Compile
        run: |
          make versions-ci
          make build


      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile-offline
          # build-args: 
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository }}:nightly
