name: Pre-merge Checks

on: 
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

env:
  NETLIFY_PREVIEW: true

jobs:
  run-ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    if: ${{ !github.event.pull_request.draft }}
    steps:
    # If the condition above is not met, aka, the PR is not in draft status, then this step is skipped.
    # Because this step is part of the critical path, omission of this step will result in remaining CI steps not gettinge executed.
    # As of 8/8/2022 there is now way to enforce this beahvior in GitHub Actions CI.
      - run: exit 0
  
  run-test:
    name: Test
    needs: [run-ci]
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'

      - run: npm ci
      
      - name: Test
        run: npm run test

  vale:
    # Image Optimizer docs: https://github.com/calibreapp/image-actions
    name: Writing Checks
    needs: [run-ci]
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Vale Check
        uses: errata-ai/vale-action@reviewdog
        with:
          filter_mode: added
          reporter: github-pr-review
          vale_flags: --glob=*.{md} --minAlertLevel=error
          fail_on_error: false
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  build:
    name: Build
    needs: [run-ci, run-test]
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'

      - run: npm ci

      - name: Build
        run: |
          make build