# This workflow scans the markdown files in the repository for broken URLs.
# Additional logic is added to the Make command verify-rate-limited-links-ci to check for rate-limited URLs, including guidance on what domains to ignore.
# The workflow is scheduled to run every Monday at 6 am.

on:
  schedule:
    # Every Monday at 6 am
    - cron: '0 6 * * 1'
  workflow_dispatch:
  
  
concurrency:
  group: url-${{ github.ref }}
  cancel-in-progress: true
  
name: Broken URL check
jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Checkout Repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: URL Checker
        run: make verify-url-links-ci

      - name: URL Rate Limit Checker
        run: make verify-rate-limited-links-ci

      - name: Check for Broken Developer Portal Links
        run: make verify-developer-portal-links
        env:
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
  
      - name: Post Comment
        run: |
          cd scripts
          ./url-checker.sh
        env:
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OWNER: ${{ github.repository_owner }}
          REPO: ${{ github.event.repository.name }}
          SLACK_WEBHOOK_URL:  ${{ secrets.SLACK_PRIVATE_TEAM_WEBHOOK }}
      
      - name: Failure Slack Notification
        if: ${{ failure() }}
        uses: rtCamp/action-slack-notify@v2.3.3
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_PRIVATE_TEAM_WEBHOOK }}
          SLACK_COLOR: ${{ job.status }}
          SLACKIFY_MARKDOWN: true
          ENABLE_ESCAPES: true
          SLACK_MESSAGE: 'The url-checks job in `${{ github.repository }}` failed. [View details](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}).'
