name: Version Branch Update

on:
  push:
    branches:
      - 'version-[0-9]-[0-9]'



concurrency:
  group: version-${{ github.ref }}
  cancel-in-progress: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_S3_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_S3_SECRET_KEY }}
  AWS_DEFAULT_REGION: us-east-1
  APPZI_TOKEN: ${{ secrets.APPZI_TOKEN }}
  MENDABLE_API_KEY: ${{ secrets.MENDABLE_API_KEY }}
  FULLSTORY_ORGID: ${{ secrets.FULLSTORY_ORGID }}
  ALGOLIA_ADMIN_KEY: ${{ secrets.ALGOLIA_ADMIN_KEY }}
  ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
  ALGOLIA_SEARCH_KEY: ${{ secrets.ALGOLIA_SEARCH_KEY }}
  NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
  NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest


    steps:
    - name: Check out repository
      uses: actions/checkout@v4



    - name: Setup Node.js environment
      uses: actions/setup-node@v3
      with:
        node-version: '18'
        cache: 'npm'

    - run: npm ci


    - name: Netlify Build
      run: |
        netlify build --context branch-deploy

    - name: Deploy to Netlify
      id: netlify
      uses: nwtgck/actions-netlify@v2.1.0
      with:
        publish-dir: ./build
        deploy-message: 'Manual Netlify deployment from GitHub Actions -  ${{ github.sha }}'
        enable-pull-request-comment: true
        overwrites-pull-request-comment: true
        enable-commit-comment: true